version: "3.9"
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: smartuser
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB: smartmeeting
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    secrets:
      - db_password

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile
    ports:
      - "8001:8001"
    environment:
      RUN_DB_MIGRATIONS: "true"
      DATABASE_URL: postgresql+psycopg2://smartuser:smartpass@db:5432/smartmeeting
      JWT_SECRET: ${JWT_SECRET:-super-secret-change-me}
      SERVICE_API_KEY: ${SERVICE_API_KEY:-service-key}
    depends_on:
      - db

  rooms:
    build:
      context: .
      dockerfile: services/rooms/Dockerfile
    ports:
      - "8002:8002"
    environment:
      RUN_DB_MIGRATIONS: "false"
      DATABASE_URL: postgresql+psycopg2://smartuser:smartpass@db:5432/smartmeeting
      JWT_SECRET: ${JWT_SECRET:-super-secret-change-me}
      SERVICE_API_KEY: ${SERVICE_API_KEY:-service-key}
    depends_on:
      - db

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - rooms
      - users
      - bookings
      - reviews

  bookings:
    build:
      context: .
      dockerfile: services/bookings/Dockerfile
    ports:
      - "8003:8003"
    environment:
      RUN_DB_MIGRATIONS: "false"
      DATABASE_URL: postgresql+psycopg2://smartuser:smartpass@db:5432/smartmeeting
      JWT_SECRET: ${JWT_SECRET:-super-secret-change-me}
      SERVICE_API_KEY: ${SERVICE_API_KEY:-service-key}
    depends_on:
      - db

  reviews:
    build:
      context: .
      dockerfile: services/reviews/Dockerfile
    ports:
      - "8004:8004"
    environment:
      RUN_DB_MIGRATIONS: "false"
      DATABASE_URL: postgresql+psycopg2://smartuser:smartpass@db:5432/smartmeeting
      JWT_SECRET: ${JWT_SECRET:-super-secret-change-me}
      SERVICE_API_KEY: ${SERVICE_API_KEY:-service-key}
    depends_on:
      - db

volumes:
  postgres_data:

secrets:
  db_password:
    file: ./db_password.txt
  jwt_secret:
    file: ./jwt_secret.txt
