fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
pydantic
pydantic-settings
email-validator
python-multipart
pytest
httpx
coverage
Sphinx
prometheus-client
prometheus-fastapi-instrumentator
pyotp
qrcode[pil]
